/* cart.css */
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cart-item {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
